#container {
  margin: auto;
  position: absolute;
  height: 75%;
  width: 60%;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  font-family: Georgia;
	
	/*for testing purposes*/
/*
border-style: solid; 
border-padding: 1px;
border-color: red;
*/
}

.rooms {
	background-color: lightgrey;
	width: 100%;
	padding: 10px;
	text-align: left;
}