#container {
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	height: 70%;
  width: 70%;
	overflow: scroll;
  text-align: center;
	/*for testing purposes*/
/*
border-style: solid; 
border-padding: 1px;
border-color: black;
*/
}

#roomsandmessagescontainer {
	height: 50%;
}

#roomcontainer {
	background-color: lightgrey;
	float: left;
	width: 35%;
	height: 100%;
}

.rooms {
	color: grey;
	padding: 10px;
}

.messages {
	float: right;
	width: 65%;
}

#submit {
	clear: both;
	text-align: center;
	padding-top: 15px;
}