<section class="title">
  <h1>{{ title }}</h1>
</section>

<section id="roomsandmessagescontainer">

	<!-- List of rooms -->
	<section id="roomcontainer">
		<section class="rooms" ng-repeat="room in rooms"><a ng-click="setRoom(room)">{{room.name}}</a>
		</section>
	</section>

	<!-- List of messages -->
	<section class="messages">
		<h4 id="roomTitle">{{ roomTitle }}</h4>
	<p ng-repeat="message in messages">{{message.username}}: {{message.content}}</p>
	</section>

</section>

<!-- Add a new room -->
<form id="submit" ng-submit="addRoom()">
		<input ng-model="newRoomName" />
			<button type="submit">Add Room</button>
	</form>

<!-- Send a message in a room - commented out until I integrate username functionality -->

<!--
<form id="submit" ng-submit="sendMessage()">
		<input ng-model="messageContent" />
			<button type="submit">Send Message</button>
	</form>-->
